<ul class="nav justify-content-end mb-5 border-bottom">
  <li class="nav-item">
    <a class="nav-link active" href="/board">리스트</a>
  </li>
  <% if(user.id) { %>
    <li class="nav-item">
      <a class="nav-link" href="/board?type=create">글작성</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/logout">로그아웃</a>
    </li>
  <% } else { %>
    <li class="nav-item">
      <a class="nav-link" href="/auth/join">회원가입</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/login">로그인</a>
    </li>
  <% } %>
</ul>